VITE_APP_apiKey=AIzaSyDoQIpk91v23bLhoXQCPM_0x7DXCJBEMbY
VITE_APP_authDomain=ass-10-7651f.firebaseapp.com
VITE_APP_projectId=ass-10-7651f
VITE_APP_storageBucket=ass-10-7651f.firebasestorage.app
VITE_APP_messagingSenderId=736222947826
VITE_APP_appId=1:736222947826:web:6e747340b86c8bf3c4236b
VITE_API_URL=https://devhun-server.vercel.app
